.mask-group,
.mask-group * {
  box-sizing: border-box;
}
.mask-group {
  height: 734.19px;
  position: relative;
}
.mask-group-container {
  border-radius: 10px;
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 327px;
  height: 734.19px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.mask-group-content {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mask-group-content2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.mask-group-content3 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mask-group-content4 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.icon-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sem-t-tulo-1-124 {
  flex-shrink: 0;
  width: 38.42px;
  height: 26.63px;
  position: relative;
  overflow: hidden;
}
.camada-x-0020-1 {
  height: auto;
  position: absolute;
  left: 0.93px;
  top: 0.85px;
  overflow: visible;
}
.subtitle {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.description-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 110px;
}
.description-container2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-row {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
  height: 63px;
}
.tit-nio-comercialmente-puro-e-mecanicamente-forte-grau-4 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.section-title {
  color: var(--color-feedback-states-active-primary, #7b3972);
  text-align: left;
  font-family: var(
    --body-xshighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-xshighlight-font-size, 12px);
  line-height: var(--body-xshighlight-line-height, 130%);
  font-weight: var(--body-xshighlight-font-weight, 500);
  position: relative;
  align-self: stretch;
}
._109-1064-implante-helix-ngm-frontal-v-1-1-1 {
  flex-shrink: 0;
  width: 86.84px;
  height: 359.72px;
  position: absolute;
  left: 120.08px;
  top: 339.5px;
  object-fit: cover;
  aspect-ratio: 86.84/359.72;
}
.vector {
  flex-shrink: 0;
  width: 48.15px;
  height: 12.06px;
  position: absolute;
  left: 237.13px;
  top: 425.98px;
  transform: translate(-47.65px, -14.43px);
  overflow: visible;
}
.sem-t-tulo-1-114 {
  flex-shrink: 0;
  width: 48.29px;
  height: 48.59px;
  position: absolute;
  left: 231.66px;
  top: 401.68px;
  object-fit: cover;
  aspect-ratio: 48.29/48.59;
}
.vector2 {
  flex-shrink: 0;
  width: 48.15px;
  height: 12.06px;
  position: absolute;
  left: 237.13px;
  top: 524.57px;
  transform: translate(-47.65px, -14.43px);
  overflow: visible;
}
.sem-t-tulo-1-115 {
  flex-shrink: 0;
  width: 47.08px;
  height: 47.37px;
  position: absolute;
  left: 232.87px;
  top: 500.88px;
  object-fit: cover;
  aspect-ratio: 47.08/47.37;
}
.vector3 {
  flex-shrink: 0;
  width: 59.1px;
  height: 31.7px;
  position: absolute;
  left: 230.64px;
  top: 656.63px;
  transform: translate(-57.78px, -34.51px);
  overflow: visible;
}
.sem-t-tulo-1-116 {
  flex-shrink: 0;
  width: 47.08px;
  height: 47.37px;
  position: absolute;
  left: 226.38px;
  top: 632.95px;
  object-fit: cover;
  aspect-ratio: 47.08/47.37;
}
.feature-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 106px;
  height: 88px;
  position: absolute;
  left: 221px;
  top: 290px
}
.feature-title-row {
  display: flex;
  flex-direction: row;
  gap: 4.88px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.feature-title {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: "LeagueSpartan-Medium", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.feature-detail-row {
  display: flex;
  flex-direction: row;
  gap: 3.66px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ellipse-9 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: 50%;
  flex-shrink: 0;
  width: 3.66px;
  height: 3.66px;
  position: relative;
}
.feature-detail {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  width: 98.68px;
}
.ellipse-10 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: 50%;
  flex-shrink: 0;
  width: 3.66px;
  height: 3.66px;
  position: relative;
}
.feature-detail2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.feature-container2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 106px;
  position: absolute;
  left: 0px;
  top: 341px;
}
.feature-container3 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 99px;
  position: absolute;
  left: 224.5px;
  top: 552.97px;
}
.feature-container4 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 99px;
  position: absolute;
  left: 224.5px;
  top: 688.57px;
}
.sem-t-tulo-1-125 {
  flex-shrink: 0;
  width: 68px;
  height: 80.07px;
  position: absolute;
  left: 19px;
  top: 488.94px;
  object-fit: cover;
  aspect-ratio: 68/80.07;
}
