.mask-group-container,
.mask-group-container * {
  box-sizing: border-box;
}
.mask-group-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 873px;
  position: relative;
}
.mask-group-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mask-group-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mask-group-section2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sem-t-tulo-1-92 {
  flex-shrink: 0;
  width: 32.37px;
  height: 32.59px;
  position: relative;
  overflow: hidden;
}
.camada-x-0020-1 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.subtitle {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-text {
  color: var(--color-neutral-40, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.main-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.main-content-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.section-title {
  color: var(--color-feedback-states-active-primary, #7b3972);
  text-align: left;
  font-family: var(
    --body-xshighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-xshighlight-font-size, 12px);
  line-height: var(--body-xshighlight-line-height, 130%);
  font-weight: var(--body-xshighlight-font-weight, 500);
  position: relative;
}
.section-description {
  color: var(--color-neutral-40, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  width: 204.4px;
}
.sem-t-tulo-1-20 {
  flex-shrink: 0;
  width: 90.23px;
  height: 160.04px;
  position: absolute;
  left: 236.77px;
  top: 50%;
  translate: 0 -50%;
  object-fit: cover;
}
.section-container2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-image {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: static;
}
.adobe-express-file-1 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 250.22px;
  top: 26px;
  object-fit: cover;
}
.adobe-express-file-2 {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 250.22px;
  top: 26px;
  object-fit: cover;
}
.adobe-express-file-3 {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 250.22px;
  top: 18px;
  object-fit: cover;
}
