.container,
.container * {
  box-sizing: border-box;
}
.container {
  border-radius: 10px;
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 1283px;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container5 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.header-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2277724948160 {
  flex-shrink: 0;
  width: 26.54px;
  height: 18.08px;
  position: relative;
  overflow: visible;
}
.header-title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.header-subtitle {
  color: var(--color-feedback-states-active-primary, #7b3972);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  width: 327px;
}
.review-container {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 1px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.reviewer-info-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ellipse-11 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: 50%;
  flex-shrink: 0;
  width: 29.41px;
  height: 29.41px;
  position: relative;
}
.reviewer-name-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.reviewer-name {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(
    --body-xshighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-xshighlight-font-size, 12px);
  line-height: var(--body-xshighlight-line-height, 130%);
  font-weight: var(--body-xshighlight-font-weight, 500);
  position: relative;
}
.icone-1 {
  flex-shrink: 0;
  width: 16.96px;
  height: 15.87px;
  position: absolute;
  left: 6.22px;
  top: 6.77px;
  overflow: hidden;
}
.camada-x-0020-1 {
  width: 95.87%;
  height: 95.53%;
  position: absolute;
  right: 2.06%;
  left: 2.07%;
  bottom: 2.25%;
  top: 2.22%;
  overflow: visible;
}
.review-text {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.description-container2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-container3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-text {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-text2 {
  color: var(--color-neutral-40, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container7 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-image-container {
  border-style: solid;
  border-color: var(--color-surfaces-border, #cfccc9);
  border-width: 0px 0.54px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
._1-85 {
  flex-shrink: 0;
  width: 57.03px;
  height: 102px;
  position: relative;
  object-fit: cover;
}
.product-info-container {
  display: flex;
  flex-direction: column;
  gap: 2.15px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 80.55px;
  position: relative;
}
.product-name-container {
  display: flex;
  flex-direction: row;
  gap: 3.22px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-name {
  color: var(--color-surfaces-body, #6c6760);
  text-align: center;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.icon-1-1 {
  flex-shrink: 0;
  width: 19.55px;
  height: 38.93px;
  position: absolute;
  left: 53.21px;
  top: 48.82px;
  object-fit: cover;
}
.icon {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 48.49px;
  top: 16.79px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.product-image-container2 {
  border-style: solid;
  border-color: var(--color-surfaces-border, #cfccc9);
  border-width: 0px 0.58px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
._2-11 {
  flex-shrink: 0;
  width: 72.11px;
  height: 102.11px;
  position: relative;
  object-fit: cover;
}
.product-info-container2 {
  display: flex;
  flex-direction: column;
  gap: 2.3px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 86.29px;
  position: relative;
}
.product-name-container2 {
  display: flex;
  flex-direction: row;
  gap: 3.45px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-2-1 {
  flex-shrink: 0;
  width: 19.67px;
  height: 19.67px;
  position: absolute;
  left: 52.43px;
  top: 51.05px;
  object-fit: cover;
}
.icon2 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 47.78px;
  top: 17.79px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus2 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.product-image-container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.sem-t-tulo-1-81 {
  flex-shrink: 0;
  width: 72.11px;
  height: 102.11px;
  position: relative;
  object-fit: cover;
}
.product-info-container3 {
  display: flex;
  flex-direction: column;
  gap: 2.31px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 86.7px;
  position: relative;
}
.product-name-container3 {
  display: flex;
  flex-direction: row;
  gap: 3.47px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._3-9 {
  flex-shrink: 0;
  width: 19.4px;
  height: 38.65px;
  position: absolute;
  left: 52.7px;
  top: 48.96px;
  object-fit: cover;
}
.icon3 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 47.91px;
  top: 16.79px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus3 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.container8 {
  border-style: solid;
  border-color: var(--color-surfaces-border, #cfccc9);
  border-width: 1px 0px 1px 0px;
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._4-8 {
  flex-shrink: 0;
  width: 72.27px;
  height: 102.11px;
  position: relative;
  object-fit: cover;
}
.icon4 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 52.17px;
  top: 14.68px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus4 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.icon-4-1 {
  flex-shrink: 0;
  width: 19.4px;
  height: 38.65px;
  position: absolute;
  left: 57.25px;
  top: 46.31px;
  object-fit: cover;
}
.icon5 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 47.91px;
  top: 15.68px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus5 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
._5-4 {
  flex-shrink: 0;
  width: 72.11px;
  height: 102.11px;
  position: relative;
  object-fit: cover;
}
._5-5 {
  flex-shrink: 0;
  width: 19.4px;
  height: 38.65px;
  position: absolute;
  left: 52.7px;
  top: 46.31px;
  object-fit: cover;
}
._1-86 {
  flex-shrink: 0;
  width: 72.27px;
  height: 102.11px;
  position: relative;
  object-fit: cover;
}
.icon-1-2 {
  flex-shrink: 0;
  width: 19.58px;
  height: 58.27px;
  position: absolute;
  left: 59.94px;
  top: 28.95px;
  object-fit: cover;
}
.icon6 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 55.83px;
  top: -3.16px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus6 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
._2-12 {
  flex-shrink: 0;
  width: 72.27px;
  height: 102.11px;
  position: relative;
  object-fit: cover;
}
.icon7 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 48.03px;
  top: 16.57px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus7 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.icon-2-2 {
  flex-shrink: 0;
  width: 19.48px;
  height: 38.65px;
  position: absolute;
  left: 52.79px;
  top: 46.71px;
  object-fit: cover;
}
._3-10 {
  flex-shrink: 0;
  width: 72.27px;
  height: 102.11px;
  position: relative;
  object-fit: cover;
}
.icon8 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 46.42px;
  top: 16.57px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus8 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.icon-3-1 {
  flex-shrink: 0;
  width: 19.51px;
  height: 19.67px;
  position: absolute;
  left: 51.17px;
  top: 50.73px;
  object-fit: cover;
}
._4-9 {
  flex-shrink: 0;
  width: 72.04px;
  height: 102.11px;
  position: relative;
  object-fit: cover;
}
.icon-3-2 {
  flex-shrink: 0;
  width: 19.51px;
  height: 19.67px;
  position: absolute;
  left: 52.53px;
  top: 51.06px;
  object-fit: cover;
}
.icon9 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 47.79px;
  top: 16.57px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus9 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.icon10 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 48.02px;
  top: 24.27px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus10 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
._1-87 {
  flex-shrink: 0;
  width: 72.27px;
  height: 102.11px;
  position: relative;
  object-fit: cover;
}
.icon-1-3 {
  flex-shrink: 0;
  width: 19.51px;
  height: 19.67px;
  position: absolute;
  left: 52.76px;
  top: 57.68px;
  object-fit: cover;
}
._2-13 {
  flex-shrink: 0;
  width: 63.75px;
  height: 102.11px;
  position: relative;
  object-fit: cover;
}
.icon-2-3 {
  flex-shrink: 0;
  width: 19.67px;
  height: 19.67px;
  position: absolute;
  left: 52.43px;
  top: 57.68px;
  object-fit: cover;
}
.icon11 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 47.78px;
  top: 24.27px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus11 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.icon12 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 47.87px;
  top: 24.27px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus12 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
._3-11 {
  flex-shrink: 0;
  width: 52.69px;
  height: 102.11px;
  position: relative;
  object-fit: cover;
}
.icon-3-3 {
  flex-shrink: 0;
  width: 19.67px;
  height: 19.67px;
  position: absolute;
  left: 52.53px;
  top: 57.68px;
  object-fit: cover;
}
.container9 {
  border-style: solid;
  border-color: var(--color-surfaces-border, #cfccc9);
  border-width: 0px 0px 1px 0px;
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon13 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 52.45px;
  top: 16.35px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus13 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
._4-10 {
  flex-shrink: 0;
  width: 72.27px;
  height: 102.11px;
  position: relative;
  object-fit: cover;
}
.icon-4-12 {
  flex-shrink: 0;
  width: 19.4px;
  height: 38.65px;
  position: absolute;
  left: 57.25px;
  top: 48.68px;
  object-fit: cover;
}
._5-6 {
  flex-shrink: 0;
  width: 72.11px;
  height: 102.11px;
  position: relative;
  object-fit: cover;
}
._5-52 {
  flex-shrink: 0;
  width: 19.4px;
  height: 19.1px;
  position: absolute;
  left: 52.7px;
  top: 65.51px;
  object-fit: cover;
}
.icon14 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 47.91px;
  top: 31.35px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus14 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
._6-431330 {
  flex-shrink: 0;
  width: 72.11px;
  height: 102.11px;
  position: relative;
  object-fit: cover;
}
.icon15 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 47.83px;
  top: 17.35px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus15 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.icon-1-22 {
  flex-shrink: 0;
  width: 19.58px;
  height: 58.27px;
  position: absolute;
  left: 59.94px;
  top: 28.95px;
}
.icon-6-1 {
  flex-shrink: 0;
  width: 19.56px;
  height: 38.65px;
  position: absolute;
  left: 52.54px;
  top: 48.68px;
  object-fit: cover;
}
.product-category-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-category {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.icon-1-4 {
  flex-shrink: 0;
  width: 23.32px;
  height: 23.51px;
  position: relative;
  object-fit: cover;
}
.product-category-name {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.icon-3-22 {
  flex-shrink: 0;
  width: 23.32px;
  height: 23.51px;
  position: relative;
  object-fit: cover;
}
.product-category-name2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  width: 69.92px;
}
.icon-3-4 {
  flex-shrink: 0;
  width: 23.51px;
  height: 23.51px;
  position: relative;
  object-fit: cover;
}
._5-7 {
  flex-shrink: 0;
  width: 23.89px;
  height: 23.51px;
  position: relative;
  object-fit: cover;
}
._6-431331 {
  flex-shrink: 0;
  width: 23.51px;
  height: 23.51px;
  position: relative;
  object-fit: cover;
}
.sem-t-tulo-1-82 {
  flex-shrink: 0;
  width: 23.51px;
  height: 23.51px;
  position: relative;
  object-fit: cover;
}
svg {
  pointer-events: all;
}