.container,
.container * {
  box-sizing: border-box;
}
.container {
  height: 1474.8px;
  position: relative;
}
.container2 {
  border-radius: 10px;
  padding: 0px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
  justify-content: center;
  width: 327px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.container3 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.drill-sequence-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.drill-sequence-header {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276864 {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-nano, 8px);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.summary-title-content {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.button {
  border-radius: var(--border-radius-xs, 4px);
  padding: var(--spacing-nano, 8px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-quarck, 4px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.children {
  color: var(--color-feedback-states-active-primary, #7b3972);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.drill-sequence-note {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-note-text {
  color: var(--color-surfaces-body, #6c6760);
  text-align: right;
  font-family: "LeagueSpartan-Medium", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 500;
  position: relative;
}
.sem-t-tulo-1-28 {
  flex-shrink: 0;
  width: 22.25px;
  height: 14.93px;
  position: relative;
  object-fit: cover;
}
.drill-sequence-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.drill-size {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: right;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
._2-22 {
  flex-shrink: 0;
  width: 44.92px;
  height: 58.67px;
  position: relative;
  object-fit: cover;
}
.icon {
	z-index: 9999;
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 43px;
  height: 44px;
  position: relative;
}
.group-42 {
  position: absolute;
  inset: 0;
}
.frame-1171276770 {
  background: #ffffff;
  border-radius: 40px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 1px;
  width: 31px;
  height: 32px;
  position: absolute;
  left: 6px;
  top: 6px;
  overflow: hidden;
}
.bs-plus-lg {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
._2-222 {
  flex-shrink: 0;
  width: 41.5px;
  height: 58.67px;
  position: relative;
  object-fit: cover;
}
.bs-plus-lg2 {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.drill-sequence-title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sem-t-tulo-1-29 {
  flex-shrink: 0;
  width: 10.34px;
  height: 14.93px;
  position: relative;
  object-fit: cover;
}
.bs-plus-lg3 {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.bs-plus-lg4 {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.frame-1171276714 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276713 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.sem-t-tulo-1-32 {
  flex-shrink: 0;
  width: 10.54px;
  height: 14.93px;
  position: relative;
  object-fit: cover;
}
.bs-plus-lg5 {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.bs-plus-lg6 {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.implant-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 327px;
  height: 68px;
  position: relative;
}
.implant-list2 {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 1px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.implant-note {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.implant-note-text {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276685 {
  padding: 4px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ellipse-11 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: 50%;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.implant-note-text2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.ellipse-10 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: 50%;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.product-item-container {
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0px 0px 1px 0px;
  padding: 0px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.product-details-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.product-name {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-description-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product-feature {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product-feature2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.product-code-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-code {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product-code2 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product-code3 {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-code4 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.product-code5 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.product-code6 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._3-6 {
  flex-shrink: 0;
  width: 55.91px;
  height: 98.49px;
  position: absolute;
  left: 262.75px;
  top: 164.16px;
  object-fit: cover;
}
.icon2 {
	z-index: 9999;
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 43px;
  height: 44px;
  position: absolute;
  left: calc(50% - -79.02px);
  top: calc(50% - -12.2px);
}
.frame-11712767702 {
  background: #ffffff;
  border-radius: 40px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 1px;
  width: 31px;
  height: 32px;
  position: absolute;
  left: 6px;
  top: 6px;
  overflow: hidden;
}
.bs-cart-plus {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
.frame-1171276711 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product-description-container2 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 222px;
  position: relative;
}
.product-feature3 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  width: 222.55px;
}
.product-code-container2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-code7 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-code8 {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.group-20 {
  flex-shrink: 0;
  width: 85.47px;
  height: 86.44px;
  position: static;
}
.posicionador-1 {
  width: 85.47px;
  height: 86.44px;
  position: absolute;
  left: 233px;
  top: 18px;
  object-fit: cover;
}
.icon3 {
	z-index: 9999;
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 43px;
  height: 44px;
  position: absolute;
  left: calc(50% - -55.27px);
  top: calc(50% - 14.3px);
}
.bs-cart-plus2 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
.icon4 {
	z-index: 9999;
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 43px;
  height: 44px;
  position: absolute;
  left: calc(50% - -55.27px);
  top: calc(50% - 20.3px);
}
.bs-cart-plus3 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
.product-item-container2 {
  padding: 0px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.frame-1171276715 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276712 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-202 {
  flex-shrink: 0;
  width: 43.2px;
  height: 98.56px;
  position: static;
}
.posicionador-12 {
  width: 43.2px;
  height: 98.56px;
  position: absolute;
  left: 252.17px;
  top: 5.89px;
  object-fit: cover;
}
.icon5 {
	z-index: 9999;
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 43px;
  height: 44px;
  position: absolute;
  left: calc(50% - -55.27px);
  top: calc(50% - 24.3px);
}
.bs-cart-plus4 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
