<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./vars.css">
        <link rel="stylesheet" href="./style.css">
        <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
        </style>
        <title>Document</title>
    </head>
    <body>
        <script src="/scripts/flutter.js"></script>
        <div class="container">
            <div class="container2">
                <div class="container3">
                    <div class="drill-sequence-item-container">
                        <img class="_1-82" src="_1-820.png">
                        <div class="drill-sequence-item-container2">
                            <div class="drill-sequence-item-text">
                                Scanbody do implante Zi Transmucosal Ø 5,0
                            </div>
                            <div class="drill-sequence-item-container3">
                                <div class="drill-sequence-item-text2">2</div>
                            </div>
                            <div class="drill-sequence-item-container">
                                <div class="drill-sequence-item-container4">
                                    <div class="drill-sequence-item-container5">
                                        <div class="drill-sequence-item-container6">
                                            <div class="drill-sequence-item-text3">108.245</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:addToCartBySku('108.245')">
                            <div class="icon">
                                <div class="frame-1171276770"></div>
                                <img class="bs-cart-plus" src="bs-cart-plus0.svg">
                            </div>
                        </a>
                    </div>
                    <div class="linha-2">
                        <img class="camada-x-0020-1" src="camada-x-0020-10.svg">
                    </div>
                    <div class="drill-sequence-item-container">
                        <img class="_2-7" src="_2-70.png">
                        <div class="drill-sequence-item-container2">
                            <div class="drill-sequence-item-text4">
                                Análogo reposicionável híbrido Zi Transmucosal Ø 5,0
                            </div>
                            <div class="drill-sequence-item-container">
                                <div class="drill-sequence-item-container4">
                                    <div class="drill-sequence-item-container5">
                                        <div class="drill-sequence-item-container6">
                                            <div class="drill-sequence-item-text3">101.110</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:addToCartBySku('101.110')">
                            <div class="icon2">
                                <div class="frame-1171276770"></div>
                                <img class="bs-cart-plus2" src="bs-cart-plus0.svg">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container4">
                <div class="linha-3">
                    <img class="camada-x-0020-12" src="camada-x-0020-11.svg">
                </div>
            </div>
            <div class="container5">
                <div class="drill-sequence-item-container7">
                    <div class="drill-sequence-item-container">
                        <a href="javascript:addToCartByVariations('135.463, 135.464, 135.465')">
                            <div class="icon3">
                                <div class="frame-1171276770"></div>
                                <img class="bs-cart-plus3" src="bs-cart-plus0.svg">
                            </div>
                        </a>
                        <img class="sem-t-tulo-1-48" src="sem-t-tulo-1-480.png">
                        <div class="drill-sequence-item-container8">
                            <div class="drill-sequence-item-container2">
                                <div class="drill-sequence-item-text5">
                                    Zi Base
                                    <br>
                                    Universal
                                </div>
                                <div class="sem-t-tulo-1-49">
                                    <img class="camada-x-0020-13" src="camada-x-0020-12.svg">
                                </div>
                            </div>
                            <div class="drill-sequence-item-container9">
                                <div class="drill-sequence-item-container10">
                                    <div class="drill-sequence-item-container11">
                                        <div class="drill-sequence-item-text6">Ø 5,5</div>
                                    </div>
                                </div>
                                <div class="drill-sequence-item-container12">
                                    <div class="drill-sequence-item-text6">0,3 mm</div>
                                    <div class="drill-sequence-item-container4">
                                        <div class="drill-sequence-item-container5">
                                            <div class="drill-sequence-item-container6">
                                                <div class="drill-sequence-item-text3">135.463</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="drill-sequence-item-container12">
                                    <div class="drill-sequence-item-text6">1,0 mm</div>
                                    <div class="drill-sequence-item-container4">
                                        <div class="drill-sequence-item-container5">
                                            <div class="drill-sequence-item-container6">
                                                <div class="drill-sequence-item-text3">135.464</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="drill-sequence-item-container12">
                                    <div class="drill-sequence-item-text6">1,5 mm</div>
                                    <div class="drill-sequence-item-container4">
                                        <div class="drill-sequence-item-container5">
                                            <div class="drill-sequence-item-container6">
                                                <div class="drill-sequence-item-text3">135.465</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
