.mask-group-inner-container,
.mask-group-inner-container * {
  box-sizing: border-box;
}
.mask-group-inner-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-info-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-info-container2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-title-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-title-container2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-title-container3 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-title-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product-description-row {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ellipse-9 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: 50%;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.product-description {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.ellipse-10 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: 50%;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.product-details-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-details-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.product-detail {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 12px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._1-133 {
  flex-shrink: 0;
  width: 107.84px;
  height: 137.38px;
  position: relative;
  object-fit: cover;
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.left-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
._2-40 {
  flex-shrink: 0;
  width: 51.97px;
  height: 72.38px;
  position: relative;
  object-fit: cover;
}
.container2 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._2-46 {
  flex-shrink: 0;
  width: 32.23px;
  height: 35.07px;
  position: relative;
  object-fit: cover;
}
.container4 {
  padding: 43px 0px 26px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 72px;
  position: relative;
}
.product-detail2 {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: center;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  width: 42px;
}
.product-detail3 {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: center;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  width: 42px;
}
.container5 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.container6 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container7 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-detail4 {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.container8 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container9 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container10 {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-detail5 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.linha-5 {
  padding: 0px 1px 0px 1px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.camada-x-0020-1 {
  flex-shrink: 0;
  width: 9.86px;
  height: 28.31px;
  position: relative;
  overflow: visible;
}
.linha-8 {
  padding: 0px 1px 0px 1px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.linha-10 {
  padding: 0px 1px 0px 1px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.camada-x-0020-12 {
  flex-shrink: 0;
  width: 9.86px;
  height: 28.31px;
  position: relative;
  overflow: visible;
}
.linha-9 {
  padding: 0px 1px 0px 1px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.container11 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 1016px;
  position: relative;
}
.product-title2 {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container12 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.container13 {
  border-style: solid;
  border-color: var(--color-surfaces-border, #cfccc9);
  border-width: 0px 0px 1px 0px;
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container14 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container15 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container16 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container17 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.container18 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 171px;
  position: relative;
}
.step-title {
  color: var(--color-feedback-states-active-primary, #7b3972);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  width: 202.81px;
}
.step-description {
  color: var(--color-feedback-states-active-primary, #7b3972);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  width: 202.81px;
}
._1-83 {
  flex-shrink: 0;
  width: 61.75px;
  height: 61.75px;
  position: relative;
  object-fit: cover;
}
.step-instruction {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  width: 82.25px;
}
.linha-52 {
  padding: 0px 1px 0px 1px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.camada-x-0020-13 {
  flex-shrink: 0;
  width: 9.86px;
  height: 28.31px;
  position: relative;
  overflow: visible;
}
._4-6 {
  flex-shrink: 0;
  width: 61.75px;
  height: 61.75px;
  position: relative;
  object-fit: cover;
}
.step-title2 {
  color: var(--color-neutral-40, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  width: 202.81px;
}
.step-description2 {
  color: var(--color-neutral-40, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  width: 202.81px;
}
.container19 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container20 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 163px;
  position: relative;
}
._2-8 {
  flex-shrink: 0;
  width: 61.75px;
  height: 61.75px;
  position: relative;
  object-fit: cover;
}
.step-instruction2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  width: 90.25px;
}
.camada-x-0020-14 {
  flex-shrink: 0;
  width: 9.86px;
  height: 28.31px;
  position: relative;
  overflow: visible;
}
._2-9 {
  flex-shrink: 0;
  width: 61.45px;
  height: 61.45px;
  position: relative;
  object-fit: cover;
}
.step-instruction3 {
  color: var(--color-neutral-40, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  width: 249.65px;
}
.container21 {
  border-style: solid;
  border-color: var(--color-surfaces-border, #cfccc9);
  border-width: 1px 0px 0px 0px;
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container22 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 152px;
  position: relative;
}
._3-8 {
  flex-shrink: 0;
  width: 61.75px;
  height: 61.75px;
  position: relative;
  object-fit: cover;
}
.step-instruction4 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  width: 101.25px;
}
.camada-x-0020-15 {
  flex-shrink: 0;
  width: 9.86px;
  height: 28.31px;
  position: relative;
  overflow: visible;
}
._4-7 {
  flex-shrink: 0;
  width: 61.75px;
  height: 61.75px;
  position: relative;
  object-fit: cover;
}
.step-instruction5 {
  color: var(--color-neutral-40, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.container23 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 129px;
  position: relative;
}
.step-title3 {
  color: var(--color-feedback-states-active-primary, #7b3972);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.step-description3 {
  color: var(--color-feedback-states-active-primary, #7b3972);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.sem-t-tulo-1-53 {
  flex-shrink: 0;
  width: 61.75px;
  height: 61.75px;
  position: relative;
  object-fit: cover;
}
.step-instruction6 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  width: 124.25px;
}
.camada-x-0020-16 {
  flex-shrink: 0;
  width: 9.86px;
  height: 28.31px;
  position: relative;
  overflow: visible;
}
.frame-1171276339 {
  border-radius: 8px;
  align-self: stretch;
  flex-shrink: 0;
  height: 118.76px;
  position: relative;
  overflow: hidden;
}
.image-column {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.image-header {
  align-self: stretch;
  flex-shrink: 0;
  height: 21.94px;
  position: static;
}
.image-header2 {
  width: 100%;
  height: 21.94px;
  position: static;
}
.image-row {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
}
.image-row2 {
  background: #833376;
  border-radius: 5.13px 5.13px 0px 0px;
  padding: 1.28px 7.69px 1.28px 3.85px;
  display: flex;
  flex-direction: row;
  gap: 33.34px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 279.55px;
  position: absolute;
  left: 47.64px;
  top: 0px;
}
.image-text {
  color: var(--color-neutral-100, #ffffff);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 6.411764621734619px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 11.52px;
  top: 5.45px;
}
.image-row3 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.image-column2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 48.09px;
  position: relative;
}
.image-row4 {
  background: #ededed;
  border-style: solid;
  border-color: var(--neutral-0, #fefefe);
  border-width: 0px 0.64px 0px 0px;
  padding: 5.13px 2.56px 5.13px 2.56px;
  display: flex;
  flex-direction: row;
  gap: 5.13px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48.09px;
  height: 21.8px;
  position: relative;
}
.image-text2 {
  color: var(--color-neutral-40, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 6.411764621734619px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.image-row5 {
  background: #ededed;
  border-style: solid;
  border-color: var(--neutral-0, #fefefe);
  border-width: 0.64px 0.64px 0px 0px;
  padding: 5.13px 2.56px 5.13px 2.56px;
  display: flex;
  flex-direction: row;
  gap: 5.13px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48.41px;
  height: 18.59px;
  position: relative;
}
.image-text3 {
  color: var(--color-neutral-40, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-SemiBold", sans-serif;
  font-size: 6.411764621734619px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
}
.image-column3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.image-row6 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-style: solid;
  border-color: var(--neutral-0, #fefefe);
  border-width: 0.64px 0.64px 0.64px 0px;
  padding: 5.13px 2.56px 5.13px 2.56px;
  display: flex;
  flex-direction: row;
  gap: 5.13px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 22.44px;
  position: relative;
}
.image-text4 {
  color: var(--color-neutral-100, #ffffff);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 6.411764621734619px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.image-row7 {
  background: var(--color-neutral-100, #ffffff);
  border-style: solid;
  border-color: var(--color-neutral-40, #6c6760);
  border-width: 0.64px 0.64px 0px 0.64px;
  padding: 5.13px 2.56px 5.13px 2.56px;
  display: flex;
  flex-direction: row;
  gap: 5.13px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 18.59px;
  position: relative;
}
.check-icon {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon2 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon3 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.image-row8 {
  background: var(--color-neutral-100, #ffffff);
  border-style: solid;
  border-color: var(--color-neutral-40, #6c6760);
  border-width: 0.64px;
  padding: 5.13px 2.56px 5.13px 2.56px;
  display: flex;
  flex-direction: row;
  gap: 5.13px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 18.59px;
  position: relative;
}
.check-icon4 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon5 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon6 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon7 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon8 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon9 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon10 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon11 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon12 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon13 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon14 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon15 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon16 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon17 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon18 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon19 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon20 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon21 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon22 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon23 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon24 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon25 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon26 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon27 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.check-icon28 {
  flex-shrink: 0;
  width: 9.62px;
  height: 9.62px;
  position: relative;
  overflow: visible;
}
.rectangle-9464 {
  background: rgba(0, 0, 0, 0.2);
  width: 119px;
  height: 328px;
  position: absolute;
  left: calc(50% - -163.5px);
  top: calc(50% - 59.73px);
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  backdrop-filter: blur(2.8px);
}
.bs-eye {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
  aspect-ratio: 1;
}
.container24 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 61.75px;
  position: relative;
}
.conventional-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.conventional-step-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.keys-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.keys-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  margin-top: 16px;
}
.keys-title-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.keys-title-container2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.keys-title-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.keys-title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.keys-details-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.keys-details-row {
  padding: 0px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container25 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: space-evenly;
  align-self: stretch;
  flex-shrink: 0;
  height: 97px;
  position: relative;
}
.container26 {
  background: var(--color-surfaces-border, #cfccc9);
  border-radius: 60px;
  padding: 2px 4px 2px 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 20px;
  position: relative;
}
.product-info {
  color: var(--color-neutral-100, #ffffff);
  text-align: center;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.container27 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.sem-t-tulo-1-43 {
  flex-shrink: 0;
  width: 56.51px;
  height: 72.7px;
  position: relative;
  object-fit: cover;
}
.product-info2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.container28 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.container29 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  position: relative;
}
.container30 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.accessories-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.accessories-title-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.accessories-title-container2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.accessories-title-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.accessories-title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.accessories-details-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.accessories-details-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.accessories-step-column {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
._1-1332 {
  flex-shrink: 0;
  width: 37.92px;
  height: 72.38px;
  position: relative;
  object-fit: cover;
}
.accessories-step-column2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.accessory-description {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.accessories-step-row {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.container31 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container32 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container33 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-info3 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.accessories-step-column3 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
