.main-container,
.main-container * {
  box-sizing: border-box;
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.main-container2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.main-container3 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.main-container4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.main-container5 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section-subtitle-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-subtitle {
  color: var(--color-surfaces-body, #6c6760);
  text-align: right;
  font-family: "LeagueSpartan-Medium", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 500;
  position: relative;
}
.sem-t-tulo-1-28 {
  flex-shrink: 0;
  width: 22.25px;
  height: 14.93px;
  position: relative;
  object-fit: cover;
}
.main-container6 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.main-container7 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.item-label {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: right;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
._2-22 {
  flex-shrink: 0;
  width: 44.92px;
  height: 58.67px;
  position: relative;
  object-fit: cover;
}
.light-button {
  background: var(--white-100, #ffffff);
  border-radius: 82.57px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.83px;
  padding: 4.95px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 6.61px 26.42px -3.3px rgba(103, 111, 123, 0.1);
}
.add-button {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
._2-222 {
  flex-shrink: 0;
  width: 41.5px;
  height: 58.67px;
  position: relative;
  object-fit: cover;
}
.add-button2 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.add-button3 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.icon-container {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.sem-t-tulo-1-29 {
  flex-shrink: 0;
  width: 10.34px;
  height: 14.93px;
  position: relative;
  object-fit: cover;
}
.sem-t-tulo-1-32 {
  flex-shrink: 0;
  width: 10.54px;
  height: 14.93px;
  position: relative;
  object-fit: cover;
}
.add-button4 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.add-button5 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.add-button6 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.add-button7 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.add-button8 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.add-button9 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.sem-t-tulo-1-33 {
  flex-shrink: 0;
  width: 10.34px;
  height: 14.93px;
  position: relative;
  object-fit: cover;
}
.add-button10 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.add-button11 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.add-button12 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.add-button13 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.add-button14 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.add-button15 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.main-container8 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.main-container9 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.main-container10 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-title2 {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main-container11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item-label2 {
  color: var(--color-surfaces-titles-primary, #250a20);
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: absolute;
  align-self: stretch;
  transform-origin: 0 0;
  transform: rotate(-89.846deg) scale(1, 1);
  top: 95px;
}
.item-container2 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.item-container3 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.item-label3 {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
._1-12 {
  flex-shrink: 0;
  width: 32.53px;
  height: 72.77px;
  position: relative;
  object-fit: cover;
}
.item-container4 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item-container5 {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.item-code {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
._2-5 {
  flex-shrink: 0;
  width: 29.45px;
  height: 72.77px;
  position: relative;
  object-fit: cover;
}
._3-5 {
  flex-shrink: 0;
  width: 25.84px;
  height: 72.77px;
  position: relative;
  object-fit: cover;
}
.icon {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: -16px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.icon2 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 150.53px;
  top: 43.94px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus2 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.icon3 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 255.51px;
  top: 43.94px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus3 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.main-container12 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item-container6 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.item-label4 {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}
.icon4 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 243px;
  top: 28px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus4 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.parafuso-1 {
  flex-shrink: 0;
  width: 85.28px;
  height: 82.1px;
  position: relative;
  object-fit: cover;
}
.item-container7 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item-container8 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.item-container9 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item-code2 {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon5 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 229.72px;
  top: 46.51px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus5 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
