.container,
.container * {
  box-sizing: border-box;
}
.container {
  height: 1934px;
  position: relative;
}
.container2 {
  border-radius: 10px;
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 327px;
  height: 1934px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.drill-sequence-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-list2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-list3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.drill-sequence-header {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276849 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.summary-title-content {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.button {
  border-radius: var(--border-radius-xs, 4px);
  padding: var(--spacing-nano, 8px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-quarck, 4px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.children {
  color: var(--color-feedback-states-active-primary, #7b3972);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.drill-sequence-note {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-note-text {
  color: var(--color-surfaces-body, #6c6760);
  text-align: right;
  font-family: "LeagueSpartan-Medium", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 500;
  position: relative;
}
.sem-t-tulo-1-28 {
  flex-shrink: 0;
  width: 22.25px;
  height: 14.93px;
  position: relative;
  object-fit: cover;
}
.drill-sequence-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.drill-size {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: right;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
._2-22 {
  flex-shrink: 0;
  width: 44.92px;
  height: 58.67px;
  position: relative;
  object-fit: cover;
}
.icon {
	z-index: 9999;
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 43px;
  height: 44px;
  position: relative;
}
.group-42 {
  position: absolute;
  inset: 0;
}
.frame-1171276770 {
  background: #ffffff;
  border-radius: 40px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 1px;
  width: 31px;
  height: 32px;
  position: absolute;
  left: 6px;
  top: 6px;
  overflow: hidden;
}
.bs-plus-lg {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
._2-222 {
  flex-shrink: 0;
  width: 41.5px;
  height: 58.67px;
  position: relative;
  object-fit: cover;
}
.bs-plus-lg2 {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.drill-sequence-title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sem-t-tulo-1-29 {
  flex-shrink: 0;
  width: 10.34px;
  height: 14.93px;
  position: relative;
  object-fit: cover;
}
.bs-plus-lg3 {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.bs-plus-lg4 {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.sem-t-tulo-1-32 {
  flex-shrink: 0;
  width: 10.54px;
  height: 14.93px;
  position: relative;
  object-fit: cover;
}
.bs-plus-lg5 {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.bs-plus-lg6 {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.bs-plus-lg7 {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.bs-plus-lg8 {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.bs-plus-lg9 {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.bs-plus-lg10 {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.bs-plus-lg11 {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.bs-plus-lg12 {
  width: 11.68px;
  height: 11.68px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.implant-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.implant-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.implant-list2 {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 1px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.implant-note {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.implant-note-text {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276685 {
  padding: 4px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ellipse-11 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: 50%;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.implant-note-text2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.implant-note-text3 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ellipse-10 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: 50%;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.implant-list3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.implant-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.implant-title {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.implant-title2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.implant-title3 {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.implant-content {
  padding: 0px 0px 0px 44px;
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.implant-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.implant-item2 {
  padding: 0px 0px 0px 29px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.implant-length {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
._1-12 {
  flex-shrink: 0;
  width: 32.53px;
  height: 72.77px;
  position: relative;
  object-fit: cover;
}
.implant-code {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.implant-code2 {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.implant-code3 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
._2-5 {
  flex-shrink: 0;
  width: 29.45px;
  height: 72.77px;
  position: relative;
  object-fit: cover;
}
.icon2 {
	z-index: 9999;
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 57.33%;
  height: 38.67%;
  position: absolute;
  right: 53.33%;
  left: -10.67%;
  bottom: 41.07%;
  top: 20.26%;
}
.frame-11712767702 {
  background: #ffffff;
  border-radius: 40px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 1px;
  width: 31px;
  height: 32px;
  position: absolute;
  left: 6px;
  top: 6px;
  overflow: hidden;
}
.bs-cart-plus {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
._3-5 {
  flex-shrink: 0;
  width: 25.84px;
  height: 72.77px;
  position: relative;
  object-fit: cover;
}
.icon3 {
	z-index: 9999;
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 57.33%;
  height: 38.67%;
  position: absolute;
  right: 50%;
  left: -7.33%;
  bottom: 41.07%;
  top: 20.26%;
}
.bs-cart-plus2 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
.implant-size {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: center;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 113.75px;
  width: 113.77px;
  height: 16px;
  transform-origin: 0 0;
  transform: rotate(-89.846deg) scale(1, 1);
}
.sem-t-tulo-2-15 {
  flex-shrink: 0;
  width: 54.27px;
  height: 51.85px;
  position: absolute;
  left: 18.73px;
  top: 61.92px;
  overflow: hidden;
}
.camada-x-0020-1 {
  height: auto;
  position: absolute;
  left: 0.8px;
  top: -0.02px;
  overflow: visible;
}
.icon4 {
	z-index: 9999;
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 43px;
  height: 44px;
  position: absolute;
  right: 50%;
  left: -7.33%;
  bottom: 41.07%;
  top: 20.26%;
}
.bs-cart-plus3 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
.implant-content2 {
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 1px 0px 0px 0px;
  padding: 6px 0px 6px 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.implant-size2 {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: center;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 113.75px;
  width: 113.77px;
  height: 16px;
  transform-origin: 0 0;
  transform: rotate(-89.846deg) scale(1, 1);
}
.implant-item3 {
  padding: 0px 0px 0px 29px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._4-4 {
  flex-shrink: 0;
  width: 32.9px;
  height: 72.77px;
  position: relative;
  object-fit: cover;
}
.icon5 {
	z-index: 9999;
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 43px;
  height: 44px;
  position: absolute;
  right: 50%;
  left: -7.33%;
  bottom: 41.07%;
  top: 20.26%;
}
.bs-cart-plus4 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
.sem-t-tulo-1-181 {
  flex-shrink: 0;
  width: 54.3px;
  height: 51.81px;
  position: absolute;
  left: 16.31px;
  top: 70.49px;
  overflow: hidden;
}
.camada-x-0020-12 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.icon6 {
	z-index: 9999;
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 43px;
  height: 44px;
  position: absolute;
  right: 50%;
  left: -7.33%;
  bottom: 41.07%;
  top: 20.26%;
}
.bs-cart-plus5 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
.icon7 {
	z-index: 9999;
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 43px;
  height: 44px;
  position: absolute;
  right: 50%;
  left: -7.33%;
  bottom: 41.07%;
  top: 20.26%;
}
.bs-cart-plus6 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
.cover-screw-section {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.cover-screw-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.cover-screw-title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cover-screw-code {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.cover-screw-code2 {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.cover-screw-code3 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.cover-screw-note {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.cover-screw-note-text {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.cover-screw-note-text2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.icon8 {
	z-index: 9999;
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 43px;
  height: 44px;
  position: absolute;
  left: 225.01px;
  top: 29px;
}
.bs-cart-plus7 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
.parafuso-1 {
  flex-shrink: 0;
  width: 85.28px;
  height: 82.1px;
  position: relative;
  object-fit: cover;
}
.healing-abutment-section {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.healing-abutment-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.healing-abutment-title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}
.healing-abutment-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.healing-abutment-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.healing-abutment-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.healing-abutment-profile {
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.healing-abutment-profile-span {
  color: var(--color-surfaces-body, #6c6760);
}
.healing-abutment-profile-span2 {
  color: var(--color-surfaces-titles-primary, #250a20);
}
.healing-abutment-size {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.healing-abutment-item2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.healing-abutment-length {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.healing-abutment-code {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.healing-abutment-code2 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.healing-abutment-code3 {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.healing-abutment-code4 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.healing-abutment-item3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.healing-abutment-profile2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.healing-abutment-profile-span {
  color: var(--color-surfaces-body, #6c6760);
}
.healing-abutment-profile-span2 {
  color: var(--color-surfaces-titles-primary, #250a20);
}
.healing-abutment-note {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.healing-abutment-note-text {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.healing-abutment-note-text2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.cicatrizador-1 {
  flex-shrink: 0;
  width: 85.21px;
  height: 82.1px;
  position: relative;
  object-fit: cover;
}
.icon9 {
	z-index: 9999;
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 43px;
  height: 44px;
  position: absolute;
  left: 200px;
  top: 73px;
}
.bs-cart-plus8 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
