.drill-sequence-section,
.drill-sequence-section * {
  box-sizing: border-box;
}
.drill-sequence-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__drill-sequence-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__drill-sequence-section2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__drill-sequence-list2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__drill-sequence-section3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__drill-sequence-list3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.drill-sequence-section__drill-sequence-header {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__drill-sequence-title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
}
.drill-sequence-section__drill-sequence-note {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__drill-sequence-note-text {
  color: var(--color-surfaces-body, #6c6760);
  text-align: right;
  font-family: "LeagueSpartan-Medium", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 500;
  position: relative;
}
.drill-sequence-section__sem-t-tulo-1-28 {
  flex-shrink: 0;
  width: 22.25px;
  height: 14.93px;
  position: relative;
  object-fit: cover;
}
.drill-sequence-section__drill-sequence-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__drill-sequence-row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__drill-sequence-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__drill-size {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: right;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.drill-sequence-section___2-22 {
  flex-shrink: 0;
  width: 44.92px;
  height: 58.67px;
  position: relative;
  object-fit: cover;
}
.drill-sequence-section__light-button {
  background: var(--white-100, #ffffff);
  border-radius: 82.57px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.83px;
  padding: 4.95px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 6.61px 26.42px -3.3px rgba(103, 111, 123, 0.1);
}
.drill-sequence-section__add-button-icon {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.drill-sequence-section___2-222 {
  flex-shrink: 0;
  width: 41.5px;
  height: 58.67px;
  position: relative;
  object-fit: cover;
}
.drill-sequence-section__add-button-icon2 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.drill-sequence-section__sem-t-tulo-1-29 {
  flex-shrink: 0;
  width: 10.34px;
  height: 14.93px;
  position: relative;
  object-fit: cover;
}
.drill-sequence-section__add-button-icon3 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.drill-sequence-section__add-button-icon4 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.drill-sequence-section__sem-t-tulo-1-32 {
  flex-shrink: 0;
  width: 10.54px;
  height: 14.93px;
  position: relative;
  object-fit: cover;
}
.drill-sequence-section__add-button-icon5 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.drill-sequence-section__add-button-icon6 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.drill-sequence-section__add-button-icon7 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.drill-sequence-section__add-button-icon8 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.drill-sequence-section__add-button-icon9 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.drill-sequence-section__add-button-icon10 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.drill-sequence-section__add-button-icon11 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.drill-sequence-section__add-button-icon12 {
  flex-shrink: 0;
  width: 19.82px;
  height: 19.82px;
  position: relative;
  overflow: visible;
}
.drill-sequence-section__implant-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__implant-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__implant-list2 {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 1px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__implant-note {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__implant-note-text {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__frame-1171276685 {
  padding: 4px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__ellipse-11 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: 50%;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.drill-sequence-section__implant-note-text2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.drill-sequence-section__implant-note-text3 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__ellipse-10 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: 50%;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.drill-sequence-section__implant-list3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.drill-sequence-section__implant-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__implant-title {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__implant-title2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__implant-title3 {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.drill-sequence-section__implant-content {
  padding: 0px 0px 0px 44px;
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__implant-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__implant-item2 {
  padding: 0px 0px 0px 29px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__implant-length {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.drill-sequence-section___1-12 {
  flex-shrink: 0;
  width: 32.53px;
  height: 72.77px;
  position: relative;
  object-fit: cover;
}
.drill-sequence-section__implant-code {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__implant-code2 {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__implant-code3 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.drill-sequence-section__icon {
  border-radius: 139.54px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 1.5px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 28.99px;
  height: 28.99px;
  position: absolute;
  left: 23.01px;
  top: 88.19px;
}
.drill-sequence-section__group-42 {
  position: absolute;
  inset: 0;
}
.drill-sequence-section__frame-1171276770 {
  background: #ffffff;
  border-radius: 40px;
  border-style: solid;
  border-color: var(--color-brand-secundary-light, #ede0ea);
  border-width: 1.5px;
  width: 31px;
  height: 32px;
  position: absolute;
  left: 6px;
  top: 6px;
  overflow: hidden;
}
.drill-sequence-section__bs-cart-plus {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
.drill-sequence-section___2-5 {
  flex-shrink: 0;
  width: 29.45px;
  height: 72.77px;
  position: relative;
  object-fit: cover;
}
.drill-sequence-section__icon2 {
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 57.33%;
  height: 38.67%;
  position: absolute;
  right: -5.85%;
  left: 48.51%;
  bottom: -14.47%;
  top: 75.8%;
}
.drill-sequence-section__bs-cart-plus2 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
.drill-sequence-section___3-5 {
  flex-shrink: 0;
  width: 25.84px;
  height: 72.77px;
  position: relative;
  object-fit: cover;
}
.drill-sequence-section__bs-cart-plus3 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
.drill-sequence-section__implant-size {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: center;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 113.75px;
  width: 113.77px;
  height: 16px;
  transform-origin: 0 0;
  transform: rotate(-89.846deg) scale(1, 1);
}
.drill-sequence-section__sem-t-tulo-2-15 {
  flex-shrink: 0;
  width: 54.27px;
  height: 51.85px;
  position: absolute;
  left: 18.73px;
  top: 61.92px;
  overflow: hidden;
}
.drill-sequence-section__camada-x-0020-1 {
  height: auto;
  position: absolute;
  left: 0.8px;
  top: -0.02px;
  overflow: visible;
}
.drill-sequence-section__implant-content2 {
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 1px 0px 0px 0px;
  padding: 6px 0px 6px 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__implant-size2 {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: center;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  align-self: stretch;
  width: 113.77px;
  transform-origin: 0 0;
  transform: rotate(-89.846deg) scale(1, 1);
}
.drill-sequence-section__implant-item3 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section___4-4 {
  flex-shrink: 0;
  width: 32.9px;
  height: 72.77px;
  position: relative;
  object-fit: cover;
}
.drill-sequence-section__icon3 {
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 43px;
  height: 44px;
  position: absolute;
  left: 7.89px;
  top: 117.77px;
}
.drill-sequence-section__bs-cart-plus4 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
.drill-sequence-section__icon4 {
  border-radius: 139.54px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 1.5px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 30.48px;
  height: 30.48px;
  position: absolute;
  left: 7.39px;
  top: 117.77px;
}
.drill-sequence-section__bs-cart-plus5 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
.drill-sequence-section__icon5 {
  border-radius: 139.54px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 1.5px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 43px;
  height: 44px;
  position: absolute;
  left: -28.99px;
  top: 48.31px;
}
.drill-sequence-section__bs-cart-plus6 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
.drill-sequence-section__sem-t-tulo-1-181 {
  flex-shrink: 0;
  width: 54.3px;
  height: 51.81px;
  position: absolute;
  left: 16.31px;
  top: 70.49px;
  overflow: hidden;
}
.drill-sequence-section__camada-x-0020-12 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.drill-sequence-section__cover-screw-section {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__cover-screw-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__cover-screw-title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}
.drill-sequence-section__cover-screw-code {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__cover-screw-code2 {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__cover-screw-code3 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.drill-sequence-section__cover-screw-note {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__cover-screw-note-text {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__cover-screw-note-text2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.drill-sequence-section__icon6 {
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 43px;
  height: 44px;
  position: absolute;
  left: 198.49px;
  top: 27.89px;
}
.drill-sequence-section__bs-cart-plus7 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
.drill-sequence-section__parafuso-1 {
  flex-shrink: 0;
  width: 85.28px;
  height: 82.1px;
  position: relative;
  object-fit: cover;
}
.drill-sequence-section__healing-abutment-section {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__healing-abutment-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__healing-abutment-title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}
.drill-sequence-section__healing-abutment-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__healing-abutment-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__healing-abutment-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__healing-abutment-profile {
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.healing-abutment-profile-span {
  color: var(--color-surfaces-body, #6c6760);
}
.healing-abutment-profile-span2 {
  color: var(--color-surfaces-titles-primary, #250a20);
}
.drill-sequence-section__healing-abutment-size {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.drill-sequence-section__healing-abutment-item2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__healing-abutment-length {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.drill-sequence-section__healing-abutment-code {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__healing-abutment-code2 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__healing-abutment-code3 {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__healing-abutment-code4 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.drill-sequence-section__healing-abutment-item3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__healing-abutment-profile2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.healing-abutment-profile-span {
  color: var(--color-surfaces-body, #6c6760);
}
.healing-abutment-profile-span2 {
  color: var(--color-surfaces-titles-primary, #250a20);
}
.drill-sequence-section__healing-abutment-note {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__healing-abutment-note-text {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.drill-sequence-section__healing-abutment-note-text2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.drill-sequence-section__cicatrizador-1 {
  flex-shrink: 0;
  width: 85.21px;
  height: 82.1px;
  position: relative;
  object-fit: cover;
}
.drill-sequence-section__icon7 {
  border-radius: 139.54px;
  padding: 8.37px;
  flex-shrink: 0;
  width: 43px;
  height: 44px;
  position: absolute;
  left: 220.29px;
  top: 73px;
}
.drill-sequence-section__bs-cart-plus8 {
  width: 14.48px;
  height: 14.48px;
  position: absolute;
  left: 14.37px;
  top: 14.37px;
  overflow: visible;
}
