.mask-group-container,
.mask-group-container * {
  box-sizing: border-box;
}
.mask-group-container {
  border-radius: 10px;
  padding:  0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 577.63px;
  position: relative;
}
.mask-group-content {
  padding:  0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mask-group-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mask-group-section2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-subtitle {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-info {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-heading {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section-description {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  width: 327px;
}
.description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-content2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.paragraph-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.paragraph {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.paragraph-text {
  color: var(--color-neutral-40, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.paragraph-text2 {
  color: var(--color-neutral-40, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.image-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sem-t-tulo-1-105 {
  flex-shrink: 0;
  width: 251.42px;
  height: 251.42px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.section-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-container2 {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 1px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-container3 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ellipse-11 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: 50%;
  flex-shrink: 0;
  width: 29.41px;
  height: 29.41px;
  position: relative;
}
.section-container4 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.reviewer-info {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(
    --body-xshighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-xshighlight-font-size, 12px);
  line-height: var(--body-xshighlight-line-height, 130%);
  font-weight: var(--body-xshighlight-font-weight, 500);
  position: relative;
}
.icone-1 {
  flex-shrink: 0;
  width: 16.96px;
  height: 15.87px;
  position: absolute;
  left: 6.22px;
  top: 6.77px;
  overflow: hidden;
}
.camada-x-0020-1 {
  width: 95.87%;
  height: 95.53%;
  position: absolute;
  right: 2.06%;
  left: 2.07%;
  bottom: 2.25%;
  top: 2.22%;
  overflow: visible;
}
.reviewer-quote {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
