.mask-group,
.mask-group * {
  box-sizing: border-box;
}
.mask-group {
  height: 2701px;
  position: relative;
}
.mask-group-container {
  border-radius: 10px;
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 327px;
  height: 2701px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.product-card {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 326.98px;
  position: relative;
}
.product-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.product-header {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-name {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  width: 193.04px;
}
.product-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.details-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.detail-item {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.detail-text {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.product-code-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product-code-container2 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product-code {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-code2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.sem-t-tulo-1-73 {
  flex-shrink: 0;
  width: 77.23px;
  height: 77.23px;
  position: relative;
  object-fit: cover;
}
.main-container2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 326.98px;
  position: relative;
}
.content-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.title-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  width: 193.04px;
}
.description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-item {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-text {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.description-text2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.product-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product-info2 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-code-text {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.product-diameter {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.sem-t-tulo-1-732 {
  flex-shrink: 0;
  width: 77.23px;
  height: 98px;
  position: relative;
  object-fit: cover;
}
.brochure {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 326.98px;
  position: relative;
  margin-top: 24px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.details-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-container2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-item-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-item2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.description-item3 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.product-list-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product-item-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-code-container3 {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-title-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  width: 193.04px;
}
.product-details-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-features-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.feature-item {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.feature-text {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.feature-text2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.product-variants-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.variant-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.variant-item {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.variant-code-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.variant-code-container2 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.variant-code-item {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.variant-code {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.variant-size {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.product-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-descriptions {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-description {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-details2 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-detail {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.detail-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.detail-code-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.detail-code {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.detail-code-text-container {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.detail-code-text {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.detail-size {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.sem-t-tulo-1-733 {
  flex-shrink: 0;
  width: 156.5px;
  height: 92.67px;
  position: relative;
  object-fit: cover;
}
.description-container3 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 189px;
  position: relative;
}
.description-section {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.table-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.diameter-column {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.diameter-text {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: right;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.diameter-text2 {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.values-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.values-column {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 54px;
  position: relative;
}
.length-text {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: center;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.value-container {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.value-text {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-line {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-item2 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-size {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 326.98px;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-images {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._6-4 {
  flex-shrink: 0;
  width: 72.02px;
  height: 78.05px;
  position: relative;
  object-fit: cover;
}
._6-3 {
  flex-shrink: 0;
  width: 45.64px;
  height: 45.73px;
  position: relative;
  object-fit: cover;
}
.feature-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-variants-container2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.diameter-labels-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.diameter-label {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.variants-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.variant-column {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 45px;
  position: relative;
}
.variant-header-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.variant-type {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: center;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.variant-size2 {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: center;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.variant-code-container3 {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-description2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-feature {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-details3 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.detail-text2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.product-code-item {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
