.mask-group-container,
.mask-group-container * {
  box-sizing: border-box;
}
.mask-group-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-1171276604 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product-card {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 326.98px;
  position: relative;
}
.product-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.product-header {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-name {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  width: 193.04px;
}
.product-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.details-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.detail-item {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.detail-text {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.frame-1171276603 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.sem-t-tulo-1-23 {
  flex-shrink: 0;
  width: 102.26px;
  height: 64.61px;
  position: relative;
  object-fit: cover;
}
.product-list {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276517 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276466 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product-diameter {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.product-code-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product-code-container2 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product-code {
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-code-text {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.frame-1171276518 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276519 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276520 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276521 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276522 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276523 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276605 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product-code2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.sem-t-tulo-1-73 {
  flex-shrink: 0;
  width: 83.74px;
  height: 110.35px;
  position: relative;
  object-fit: cover;
}
.frame-1171276606 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-11712766032 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.sem-t-tulo-1-24 {
  flex-shrink: 0;
  width: 65.29px;
  height: 41.25px;
  position: relative;
  object-fit: cover;
}
.frame-1171276607 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276524 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-name2 {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  width: 234.94px;
}
.frame-1171276612 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 326.98px;
  position: relative;
}
.details-list2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 227.24px;
  position: relative;
}
.sem-t-tulo-1-732 {
  flex-shrink: 0;
  width: 69.67px;
  height: 61.88px;
  position: relative;
  object-fit: cover;
}
.frame-1171276613 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276610 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276608 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._1-142 {
  flex-shrink: 0;
  width: 8.93px;
  height: 105.3px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 8.93/105.3;
}
.frame-1171276611 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._1-1422 {
  flex-shrink: 0;
  width: 29.02px;
  height: 105.3px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 29.02/105.3;
}
.frame-11712766122 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._1-1423 {
  flex-shrink: 0;
  width: 33.45px;
  height: 105.3px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 33.45/105.3;
}
.frame-11712766132 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._1-1424 {
  flex-shrink: 0;
  width: 28.22px;
  height: 105.3px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 28.22/105.3;
}
.frame-1171276614 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._1-1425 {
  flex-shrink: 0;
  width: 69.14px;
  height: 105.3px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 69.14/105.3;
}
