.banner,
.banner * {
  box-sizing: border-box;
}
.banner {
  background: linear-gradient(
    88.35deg,
    rgba(123, 57, 114, 0.05) 0%,
    rgba(243, 235, 241, 1) 77.28540301322937%
  );
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text2 {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: center;
  font-family: var(--body-sm-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-sm-font-size, 14px);
  line-height: var(--body-sm-line-height, 100%);
  font-weight: var(--body-sm-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.title {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: center;
  font-family: var(--title-md-font-family, "LeagueSpartan-Medium", sans-serif);
  font-size: var(--title-md-font-size, 20px);
  line-height: var(--title-md-line-height, 120%);
  font-weight: var(--title-md-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.button {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: var(--border-radius-sm, 8px);
  padding: var(--spacing-nano, 8px) var(--spacing-xxxs, 16px)
    var(--spacing-nano, 8px) var(--spacing-xxxs, 16px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-quarck, 4px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.children {
  color: var(--color-neutral-100, #ffffff);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bs-arrow-up-right-circle {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.sem-t-tulo-1-2 {
  flex-shrink: 0;
  width: 106.88px;
  height: 40.62px;
  position: absolute;
  left: 30.62px;
  top: 406.33px;
  object-fit: cover;
}
.image-with-hotspots {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 297px;
  position: relative;
}
.text3 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: absolute;
  left: 273.5px;
  top: 142.51px;
}
.text4 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: absolute;
  left: 126.5px;
  top: 205.15px;
}
.icon {
  background: var(--white-100, #ffffff);
  border-radius: 202.14px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.83px;
  padding: 12.13px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 126.5px;
  top: 237.15px;
  box-shadow: 0px 16.17px 64.69px -8.09px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus {
  flex-shrink: 0;
  width: 20.98px;
  height: 20.98px;
  position: relative;
  overflow: visible;
}
._313558-implante-zi-perspectiva-v-2-1-1 {
  flex-shrink: 0;
  width: 172.21px;
  height: 228.12px;
  position: absolute;
  left: 146.5px;
  top: 0px;
  object-fit: cover;
}
.file-5-1 {
  flex-shrink: 0;
  width: 108.85px;
  height: 238.42px;
  position: absolute;
  left: 33.14px;
  top: 50.3px;
  object-fit: cover;
}
.icon2 {
  background: var(--white-100, #ffffff);
  border-radius: 202.14px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.83px;
  padding: 12.13px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 273.47px;
  top: 174.51px;
  box-shadow: 0px 16.17px 64.69px -8.09px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus2 {
  flex-shrink: 0;
  width: 20.98px;
  height: 20.98px;
  position: relative;
  overflow: visible;
}
