<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./vars.css">
        <link rel="stylesheet" href="./style.css">
        <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
        </style>
        <title>Document</title>
    </head>
    <body>
        <script src="/scripts/flutter.js"></script>
        <div class="group-44">
            <div class="container">
                <div class="container2">
                    <img class="sem-t-tulo-1-55" src="sem-t-tulo-1-550.png">
                    <div class="container3">
                        <div class="munh-o-reto-cr-zi">
                            Munhão
                            <br>
                            reto CR Zi
                        </div>
                        <div class="sem-t-tulo-1-50">
                            <img class="camada-x-0020-1" src="camada-x-0020-10.svg">
                        </div>
                    </div>
                    <div class="container4">
                        <div class="container5">
                            <div class="container6">
                                <div class="_4">Ø 4,0</div>
                                <div class="_4">Ø 4,5</div>
                            </div>
                        </div>
                        <div class="container7">
                            <div class="_1">1,5mm</div>
                            <div class="container8">
                                <div class="container9">
                                    <div class="container10">
                                        <div class="_114-854">114.854</div>
                                    </div>
                                </div>
                                <div class="container9">
                                    <div class="container10">
                                        <div class="_114-856">114.856</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container7">
                            <div class="_2">2,5mm</div>
                            <div class="container8">
                                <div class="container9">
                                    <div class="container10">
                                        <div class="_114-855">114.855</div>
                                    </div>
                                </div>
                                <div class="container9">
                                    <div class="container10">
                                        <div class="_114-857">114.857</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container7">
                            <div class="_3">3,5mm</div>
                            <div class="container8">
                                <div class="container9">
                                    <div class="container10">
                                        <div class="_114-916">114.916</div>
                                    </div>
                                </div>
                                <div class="container9">
                                    <div class="container10">
                                        <div class="_114-918">114.918</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container7">
                            <div class="_4">4,5mm</div>
                            <div class="container8">
                                <div class="container9">
                                    <div class="container10">
                                        <div class="_114-917">114.917</div>
                                    </div>
                                </div>
                                <div class="container9">
                                    <div class="container10">
                                        <div class="_114-919">114.919</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container11">
                <div class="ou">ou</div>
            </div>
            <div class="container12">
                <div class="container13">
                    <img class="sem-t-tulo-1-56" src="sem-t-tulo-1-560.png">
                    <div class="container3">
                        <div class="munh-o-angulado-cr-zi-17">
                            Munhão angulado
                            <br>
                            CR Zi 17º
                        </div>
                        <div class="sem-t-tulo-1-50">
                            <img class="camada-x-0020-12" src="camada-x-0020-11.svg">
                        </div>
                    </div>
                    <div class="container4">
                        <div class="container5">
                            <div class="container6">
                                <div class="_4">Ø 4,0</div>
                                <div class="_4">Ø 4,5</div>
                            </div>
                        </div>
                        <div class="container7">
                            <div class="_1">1,5mm</div>
                            <div class="container8">
                                <div class="container9">
                                    <div class="container10">
                                        <div class="_114-858">114.858</div>
                                    </div>
                                </div>
                                <div class="container9">
                                    <div class="container10">
                                        <div class="_114-860">114.860</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container7">
                            <div class="_2">2,5mm</div>
                            <div class="container8">
                                <div class="container9">
                                    <div class="container10">
                                        <div class="_114-859">114.859</div>
                                    </div>
                                </div>
                                <div class="container9">
                                    <div class="container10">
                                        <div class="_114-861">114.861</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container7">
                            <div class="_3">3,5mm</div>
                            <div class="container8">
                                <div class="container9">
                                    <div class="container10">
                                        <div class="_114-920">114.920</div>
                                    </div>
                                </div>
                                <div class="container9">
                                    <div class="container10">
                                        <div class="_114-922">114.922</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container14">
                <img class="camada-x-0020-13" src="camada-x-0020-12.svg">
            </div>
            <div class="frame-1171276651">
                <div class="frame-1171276420">
                    <div class="frame-1171276650">
                        <div class="frame-1171276962">
                            <div class="container15">
                                <img class="sem-t-tulo-1-40" src="sem-t-tulo-1-400.png">
                                <div class="container3">
                                    <div class="coping-de-impress-o-munh-o-cr">
                                        Coping de impressão
                                        <br>
                                        Munhão CR
                                    </div>
                                    <div class="container15">
                                        <div class="_4">Ø 4,0</div>
                                        <div class="container8">
                                            <div class="container9">
                                                <div class="container10">
                                                    <div class="_108-201">108.201</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container15">
                                        <div class="_4">Ø 4,5</div>
                                        <div class="container8">
                                            <div class="container16">
                                                <div class="container17">
                                                    <div class="_108-202">108.202</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="linha-2">
                                <img class="camada-x-0020-14" src="camada-x-0020-13.svg">
                            </div>
                            <div class="container15">
                                <img class="sem-t-tulo-1-41" src="sem-t-tulo-1-410.png">
                                <div class="container3">
                                    <div class="transfer-cilindro-provis-rio-munh-o-cr">
                                        Transfer cilindro provisório
                                        <br>
                                        Munhão CR
                                    </div>
                                    <div class="container15">
                                        <div class="_4">Ø 4,0</div>
                                        <div class="container8">
                                            <div class="container9">
                                                <div class="container10">
                                                    <div class="_108-201">108.201</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container18">
                                        <div class="_4">Ø 4,5</div>
                                        <div class="container19">
                                            <div class="container16">
                                                <div class="container17">
                                                    <div class="_108-202">108.202</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img class="camada-x-0020-15" src="camada-x-0020-14.svg">
                        <div class="uso-h-brido-pode-ser-usado-como-um-transfer-de-moldagem-e-um-pilar-provis-rio">
                            Uso híbrido: pode ser usado como um transfer de moldagem e um pilar
            provisório.
                        </div>
                    </div>
                </div>
                <div class="container20">
                    <img class="camada-x-0020-16" src="camada-x-0020-15.svg">
                </div>
                <div class="frame-1171276421">
                    <div class="frame-11712766502">
                        <div class="container15">
                            <img class="sem-t-tulo-1-43" src="sem-t-tulo-1-430.png">
                            <div class="container3">
                                <div class="an-logo-munh-o-cr-de-zi">
                                    Análogo Munhão
                                    <br>
                                    CR de Zi
                                </div>
                                <div class="container15">
                                    <div class="_4">Ø 4,0</div>
                                    <div class="container8">
                                        <div class="container9">
                                            <div class="container10">
                                                <div class="_101-106">101.106</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container18">
                                    <div class="_4">Ø 4,5</div>
                                    <div class="container19">
                                        <div class="container16">
                                            <div class="container17">
                                                <div class="_101-105">101.105</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="linha-22">
                            <img class="camada-x-0020-17" src="camada-x-0020-16.svg">
                        </div>
                        <div class="container15">
                            <img class="sem-t-tulo-1-57" src="sem-t-tulo-1-570.png">
                            <a href="javascript:addToCartByVariations('118.367, 118.368')">
                                <div class="icon">
                                    <div class="frame-1171276770"></div>
                                    <img class="bs-cart-plus" src="bs-cart-plus0.svg">
                                </div>
                            </a>
                            <div class="container3">
                                <div class="cilindro-calcin-vel-munh-o-cr-zi">
                                    Cilindro calcinável
                                    <br>
                                    Munhão CR Zi
                                </div>
                                <div class="container15">
                                    <div class="_4">Ø 4,0</div>
                                    <div class="container8">
                                        <div class="container9">
                                            <div class="container10">
                                                <div class="_118-367">118.367</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container18">
                                    <div class="_4">Ø 4,5</div>
                                    <div class="container19">
                                        <div class="container16">
                                            <div class="container17">
                                                <div class="_118-368">118.368</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
