.main-content,
.main-content * {
  box-sizing: border-box;
}
.main-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 390px;
  position: relative;
}
.title {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}
.subtitle {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  width: 100%;
}
.frame-1171276502 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.description-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.description-container2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description-item {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ellipse-9 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: 50%;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.description-text {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.ellipse-10 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: 50%;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.description-text2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.indications-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-title {
  color: var(--color-feedback-states-active-primary, #7b3972);
  text-align: left;
  font-family: var(
    --body-xshighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-xshighlight-font-size, 12px);
  line-height: var(--body-xshighlight-line-height, 130%);
  font-weight: var(--body-xshighlight-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.indications-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.indication-item {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.indication-text {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.characteristics-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.characteristics-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.characteristic-item {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.characteristic-text {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.frame-1171276498 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 178px;
  position: relative;
}
.frame-1171276499 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 162px;
  position: relative;
}
.frame-1171276500 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-code {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: center;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
._1-140 {
  flex-shrink: 0;
  width: 55.67px;
  height: 38.76px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 55.67/38.76;
}
.frame-1171276501 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._2-50 {
  flex-shrink: 0;
  width: 38.52px;
  height: 38.76px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 38.52/38.76;
}
.frame-1171276496 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276492 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276493 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276490 {
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 1px 1px 0px 1px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product-code2 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  width: 50px;
}
.frame-11712764922 {
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 1px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.product-code3 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 10px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  width: 60px;
}
.frame-1171276495 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276491 {
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 1px 1px 0px 0px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276494 {
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 1px 1px 1px 0px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171276497 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-11712764952 {
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 1px 1px 0px 0px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-11712764962 {
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 1px 1px 1px 0px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
