<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./vars.css">
        <link rel="stylesheet" href="./style.css">
        <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
        </style>
        <title>Document</title>
    </head>
    <body>
        <script src="/scripts/flutter.js"></script>
        <div class="main-container">
            <div class="container">
                <div class="container2">
                    <img class="sem-t-tulo-1-55" src="sem-t-tulo-1-550.png">
                    <div class="container3">
                        <div class="product-name">
                            Munhão
                            <br>
                            reto CR Zi
                        </div>
                        <div class="sem-t-tulo-1-50">
                            <img class="camada-x-0020-1" src="camada-x-0020-10.svg">
                        </div>
                    </div>
                    <div class="container4">
                        <div class="container5">
                            <div class="container6">
                                <div class="_4">Ø 4,0</div>
                                <div class="_4">Ø 4,5</div>
                            </div>
                        </div>
                        <div class="container7">
                            <div class="_1">1,5mm</div>
                            <div class="container8">
                                <div class="container9">
                                    <div class="container10">
                                        <div class="product-code">114.854</div>
                                    </div>
                                </div>
                                <div class="container9">
                                    <div class="container10">
                                        <div class="product-code">114.856</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container7">
                            <div class="_2">2,5mm</div>
                            <div class="container8">
                                <div class="container9">
                                    <div class="container10">
                                        <div class="product-code">114.855</div>
                                    </div>
                                </div>
                                <div class="container9">
                                    <div class="container10">
                                        <div class="product-code">114.857</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container7">
                            <div class="_3">3,5mm</div>
                            <div class="container8">
                                <div class="container9">
                                    <div class="container10">
                                        <div class="product-code">114.916</div>
                                    </div>
                                </div>
                                <div class="container9">
                                    <div class="container10">
                                        <div class="product-code">114.918</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container7">
                            <div class="_4">4,5mm</div>
                            <div class="container8">
                                <div class="container9">
                                    <div class="container10">
                                        <div class="product-code">114.917</div>
                                    </div>
                                </div>
                                <div class="container9">
                                    <div class="container10">
                                        <div class="product-code">114.919</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:addToCartByVariations('114.854, 114.856, 114.855, 114.857, 114.916, 114.918, 114.917, 114.919')">
                        <div class="icon">
                            <div class="frame-1171276770"></div>
                            <img class="bs-cart-plus" src="bs-cart-plus0.svg">
                        </div>
                    </a>
                </div>
            </div>
            <div class="container11">
                <div class="section-title">ou</div>
            </div>
            <div class="container12">
                <div class="container2">
                    <img class="sem-t-tulo-1-56" src="sem-t-tulo-1-560.png">
                    <div class="container3">
                        <div class="product-name">
                            Munhão angulado
                            <br>
                            CR Zi 17º
                        </div>
                        <div class="sem-t-tulo-1-50">
                            <img class="camada-x-0020-12" src="camada-x-0020-11.svg">
                        </div>
                    </div>
                    <div class="container4">
                        <div class="container5">
                            <div class="container6">
                                <div class="_4">Ø 4,0</div>
                                <div class="_4">Ø 4,5</div>
                            </div>
                        </div>
                        <div class="container7">
                            <div class="_1">1,5mm</div>
                            <div class="container8">
                                <div class="container9">
                                    <div class="container10">
                                        <div class="product-code">114.858</div>
                                    </div>
                                </div>
                                <div class="container9">
                                    <div class="container10">
                                        <div class="product-code">114.860</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container7">
                            <div class="_2">2,5mm</div>
                            <div class="container8">
                                <div class="container9">
                                    <div class="container10">
                                        <div class="product-code">114.859</div>
                                    </div>
                                </div>
                                <div class="container9">
                                    <div class="container10">
                                        <div class="product-code">114.861</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container7">
                            <div class="_3">3,5mm</div>
                            <div class="container8">
                                <div class="container9">
                                    <div class="container10">
                                        <div class="product-code">114.920</div>
                                    </div>
                                </div>
                                <div class="container9">
                                    <div class="container10">
                                        <div class="product-code">114.922</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:addToCartByVariations('114.858, 114.860, 114.859, 114.861, 114.920, 114.922')">
                        <div class="icon">
                            <div class="frame-1171276770"></div>
                            <img class="bs-cart-plus2" src="bs-cart-plus1.svg">
                        </div>
                    </a>
                </div>
            </div>
            <div class="container13">
                <img class="camada-x-0020-13" src="camada-x-0020-12.svg">
            </div>
            <div class="section-container">
                <div class="product-container">
                    <div class="product-info">
                        <div class="container14">
                            <img class="_1-84" src="_1-840.png">
                            <div class="container3">
                                <div class="product-name">
                                    Scanbody para
                                    <br>
                                    Munhão CR Z
                                </div>
                                <div class="container2">
                                    <div class="_4">Ø 4,0</div>
                                    <div class="container8">
                                        <div class="container9">
                                            <div class="container10">
                                                <div class="product-code">108.199</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container2">
                                    <div class="_4">Ø 4,5</div>
                                    <div class="container8">
                                        <div class="container15">
                                            <div class="container16">
                                                <div class="product-code">108.200</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:addToCartByVariations('108.199, 108.200')">
                                <div class="icon">
                                    <div class="frame-1171276770"></div>
                                    <img class="bs-cart-plus3" src="bs-cart-plus2.svg">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="container17">
                    <img class="camada-x-0020-14" src="camada-x-0020-13.svg">
                </div>
                <div class="section-container2">
                    <div class="product-container2">
                        <div class="container14">
                            <img class="sem-t-tulo-1-44" src="sem-t-tulo-1-440.png">
                            <div class="container3">
                                <div class="product-name">
                                    Análogo do
                                    <br>
                                    Munhão CR Zi
                                </div>
                                <div class="container2">
                                    <div class="_4">Ø 4,0</div>
                                    <div class="container8">
                                        <div class="container9">
                                            <div class="container10">
                                                <div class="product-code">101.106</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container18">
                                    <div class="_4">Ø 4,5</div>
                                    <div class="container19">
                                        <div class="container15">
                                            <div class="container16">
                                                <div class="product-code">101.105</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:addToCartByVariations('101.106, 101.105')">
                                <div class="icon">
                                    <div class="frame-1171276770"></div>
                                    <img class="bs-cart-plus4" src="bs-cart-plus3.svg">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="container17">
                    <img class="camada-x-0020-15" src="camada-x-0020-14.svg">
                    <div class="section-title">Coroa fresada</div>
                </div>
            </div>
        </div>
    </body>
</html>
