.ceramic-implant-system-pagina-2,
.ceramic-implant-system-pagina-2 * {
  box-sizing: border-box;
}
.ceramic-implant-system-pagina-2 {
  background: #ffffff;
  border-radius: 24px;
  height: 1508px;
  position: relative;
  overflow: hidden;
}
.vector-4 {
  width: 1305.47px;
  height: 577.23px;
  position: absolute;
  left: 136.81px;
  top: 1111.77px;
  transform: translate(-136.81px, -1111.77px);
  overflow: visible;
}
.frame-1171275830 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  width: 375px;
  height: 1508px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-1171275499 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-427319818 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-4273198182 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.system-status-bar {
  background: rgba(19, 19, 19, 0);
  flex-shrink: 0;
  width: 375px;
  height: 42px;
  position: relative;
}
.container {
  background: #000000;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.status-bar-battery {
  width: 7.2%;
  height: 47.62%;
  position: absolute;
  right: 3.73%;
  left: 89.07%;
  bottom: 26.19%;
  top: 26.19%;
  overflow: visible;
}
.status-bar-wi-fi {
  width: 10.93%;
  height: 47.62%;
  position: absolute;
  right: 11.2%;
  left: 77.87%;
  bottom: 26.19%;
  top: 26.19%;
  overflow: visible;
}
.status-bar-service {
  height: auto;
  position: absolute;
  left: 293.5px;
  top: 16.94px;
  overflow: visible;
}
.time {
  width: 15.2%;
  height: 20px;
  position: absolute;
  right: 79.2%;
  left: 5.6%;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.status-bar-location {
  width: 28.07%;
  height: 80%;
  position: absolute;
  right: 0.88%;
  left: 71.05%;
  bottom: 10%;
  top: 10%;
  overflow: visible;
}
._12-22 {
  color: #000000;
  text-align: center;
  font-family: "SfProDisplay-Medium", sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  font-weight: 500;
  position: absolute;
  right: 32.46%;
  left: 4.39%;
  width: 63.16%;
  top: 50%;
  translate: 0 -50%;
}
.header {
  border-style: solid;
  border-color: var(--color-brand-secundary-light, #ede0ea);
  border-width: 0px 0px 1px 0px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 375px;
  position: relative;
}
.button {
  border-radius: 12px;
  padding: var(--spacing-nano, 8px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-nano, 8px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.bs-chevron-left {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.notifica-es {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: center;
  font-family: var(--title-sm-font-family, "LeagueSpartan-Medium", sans-serif);
  font-size: var(--title-sm-font-size, 16px);
  line-height: var(--title-sm-line-height, 120%);
  font-weight: var(--title-sm-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-1171275804 {
  padding: 0px var(--spacing-xxs, 24px) 0px var(--spacing-xxs, 24px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xxs, 24px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 375px;
  position: relative;
}
.frame-1171275808 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.input-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.input {
  background: var(--color-neutral-100, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--color-surfaces-border, #cfccc9);
  border-width: 1px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 36px;
  position: relative;
}
.frame-1265 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.bs-search {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.placeholder {
  color: var(--color-neutral-60, #9f9a93);
  text-align: left;
  font-family: var(--body-sm-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-sm-font-size, 14px);
  line-height: var(--body-sm-line-height, 100%);
  font-weight: var(--body-sm-font-weight, 400);
  position: relative;
  flex: 1;
}
.frame-1171275810 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171275807 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-11712758042 {
  padding: 0px var(--spacing-xxs, 24px) 0px var(--spacing-xxs, 24px);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.tab {
  padding: var(--spacing-quarck, 4px) var(--spacing-xxxs, 16px)
    var(--spacing-quarck, 4px) 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.children {
  color: var(--color-neutral-50, #857e75);
  text-align: center;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab2 {
  border-style: solid;
  border-color: var(--color-brand-primary-pure, #7b3972);
  border-width: 0px 0px 2px 0px;
  padding: var(--spacing-quarck, 4px) var(--spacing-xxxs, 16px)
    var(--spacing-quarck, 4px) var(--spacing-xxxs, 16px);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.children2 {
  color: var(--color-brand-primary-pure, #7b3972);
  text-align: center;
  font-family: var(
    --body-xshighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-xshighlight-font-size, 12px);
  line-height: var(--body-xshighlight-line-height, 130%);
  font-weight: var(--body-xshighlight-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab3 {
  padding: var(--spacing-quarck, 4px) var(--spacing-xxxs, 16px)
    var(--spacing-quarck, 4px) var(--spacing-xxxs, 16px);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-1171275801 {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1171275756 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.subcategorias-zi {
  background: var(--neutral-0, #fefefe);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 98px;
  height: 134px;
  position: relative;
}
.frame-1171275803 {
  flex-shrink: 0;
  width: 74px;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.frame-1171275752 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.implant-zi {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.subcategorias-zi2 {
  background: var(--neutral-0, #fefefe);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 98px;
  height: 134px;
  position: relative;
}
.frame-1171275829 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 327px;
  height: 1089px;
  position: relative;
}
.mask-group {
  flex-shrink: 0;
  width: 327px;
  height: 705px;
  position: static;
}
.group-1 {
  width: 327px;
  height: 705px;
  position: static;
}
.frame-1171275812 {
  border-radius: 10px;
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 327px;
  height: 705px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-1171275789 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171275826 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171275823 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171275788 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.camada-x-0020-1 {
  flex-shrink: 0;
  width: 33.25px;
  height: 33.25px;
  position: relative;
  overflow: visible;
}
.um-novo-mindset-de-flexibilidade {
  color: var(--color-surfaces-titles-secundary, #3c1635);
  text-align: left;
  font-family: var(
    --body-smhighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-smhighlight-font-size, 14px);
  line-height: var(--body-smhighlight-line-height, 130%);
  font-weight: var(--body-smhighlight-font-weight, 500);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.frame-1171275793 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171275791 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.possibilitando-atender-diversas-solu-es-de-tratamentos-e-uma-ampla-gama-de-possibilidades-prot-ticas-atrav-s-de-uma-conex-o-de-2-pe-as {
  color: var(--color-neutral-40, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.frame-1171275824 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.adobe-express-file-1-1 {
  flex-shrink: 0;
  width: 119.08px;
  height: 55.55px;
  position: relative;
  object-fit: cover;
}
.frame-1171275827 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.flexibilidade-de-tratamento {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-1171275794 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.um-novo-conceito-em-flexibilidade-que-oferece-diversas-solu-es-de-tratamento-possibiltitando-fluxo-de-trabalho-convencional-e-digital-abrangendo-os-ossos-do-tipo-l-ao-l-v {
  color: var(--color-neutral-40, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.icon {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 121.5px;
  top: 13.28px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.frame-1171275834 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171275828 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.flexibilidade-prot-tica {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-1171275831 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171275795 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.a-conex-o-de-2-pe-as-beneficia-o-profissional-ao-permitir-uma-escolha-da-solu-o-prot-tica-que-mais-se-adapta-ao-seu-caso {
  color: var(--color-neutral-40, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  flex: 1;
}
.este-sistema-de-f-cil-utiliza-o-proporciona-maior-flexibilidade-de-tratamento-quando-comparado-aos-implantes-de-pe-a-nica {
  color: var(--color-neutral-40, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-1171275833 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-11712758262 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.base-zi {
  color: var(--color-feedback-states-active-primary, #7b3972);
  text-align: left;
  font-family: var(
    --body-xshighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-xshighlight-font-size, 12px);
  line-height: var(--body-xshighlight-line-height, 130%);
  font-weight: var(--body-xshighlight-font-weight, 500);
  position: relative;
}
.frame-1171275832 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1171275814 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ellipse-9 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: 50%;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.pr-tese-aparafusada-unit-ria {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.frame-1171275815 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ellipse-10 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: 50%;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.pr-tese-cimentada-unit-ria {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.frame-1171275817 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._3-75-4-5-mm {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.sem-t-tulo-1-11 {
  flex-shrink: 0;
  width: 71.42px;
  height: 70.22px;
  position: absolute;
  left: 255.58px;
  top: 2.53px;
  object-fit: cover;
}
.icon2 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 243.7px;
  top: 26.51px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus2 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.frame-11712758292 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.base-zi-para-c {
  color: var(--color-feedback-states-active-primary, #7b3972);
  text-align: left;
  font-family: var(
    --body-xshighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-xshighlight-font-size, 12px);
  line-height: var(--body-xshighlight-line-height, 130%);
  font-weight: var(--body-xshighlight-font-weight, 500);
  position: relative;
}
._4-65-mm {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.sem-t-tulo-1-12 {
  flex-shrink: 0;
  width: 53.28px;
  height: 64.42px;
  position: absolute;
  left: 273.72px;
  top: 9.72px;
  object-fit: cover;
}
.icon3 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 253.5px;
  top: 27.37px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus3 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.frame-11712758302 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pilar-cr-zi {
  color: var(--color-feedback-states-active-primary, #7b3972);
  text-align: left;
  font-family: var(
    --body-xshighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-xshighlight-font-size, 12px);
  line-height: var(--body-xshighlight-line-height, 130%);
  font-weight: var(--body-xshighlight-font-weight, 500);
  position: relative;
}
._4-0-4-5-mm {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.sem-t-tulo-1-13 {
  flex-shrink: 0;
  width: 70.48px;
  height: 64.84px;
  position: absolute;
  left: 256.52px;
  top: 0px;
  object-fit: cover;
}
.icon4 {
  background: var(--white-100, #ffffff);
  border-radius: 129.53px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 0.53px;
  padding: 7.77px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 233.5px;
  top: 15.51px;
  box-shadow: 0px 10.36px 41.45px -5.18px rgba(103, 111, 123, 0.1);
}
.bs-cart-plus4 {
  flex-shrink: 0;
  width: 13.44px;
  height: 13.44px;
  position: relative;
  overflow: visible;
}
.frame-1171275835 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171275821 {
  padding: 6px 0px 6px 0px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button2 {
  border-radius: 5px;
  border-style: solid;
  border-color: var(--color-feedback-states-active-primary, #7b3972);
  border-width: 0.5px;
  padding: var(--spacing-nano, 8px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-quarck, 4px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.left-icon2 {
  flex-shrink: 0;
  width: 11.95px;
  height: 11.95px;
  position: relative;
  overflow: visible;
}
.frame-1171275505 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 36px;
  position: relative;
}
.input2 {
  border-radius: 6px;
  border-style: solid;
  border-color: var(--color-surfaces-border, #cfccc9);
  border-width: 0.5px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-quarck, 4px);
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 36px;
  position: relative;
}
.frame-12652 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._2-6 {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
}
.left-icon3 {
  flex-shrink: 0;
  width: 11.95px;
  height: 11.95px;
  position: relative;
  overflow: visible;
}
.frame-1171275363 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171275365 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-11712757562 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.produtos {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: var(--title-sm-font-family, "LeagueSpartan-Medium", sans-serif);
  font-size: var(--title-sm-font-size, 16px);
  line-height: var(--title-sm-line-height, 120%);
  font-weight: var(--title-sm-font-weight, 500);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-1171275757 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.ver-mais {
  color: var(--color-surfaces-body, #6c6760);
  text-align: left;
  font-family: var(--body-xs-font-family, "LeagueSpartan-Regular", sans-serif);
  font-size: var(--body-xs-font-size, 12px);
  line-height: var(--body-xs-line-height, 130%);
  font-weight: var(--body-xs-font-weight, 400);
  position: relative;
  width: 43px;
  height: 11.59px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bs-chevron-right {
  flex-shrink: 0;
  width: 11.59px;
  height: 11.59px;
  position: relative;
  overflow: visible;
}
.frame-11712757522 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171275383 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 177px;
  position: relative;
}
.frame-1171275476 {
  background: var(--neutral-0, #fefefe);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--color-surfaces-border-secundary, #f3ebf1);
  border-width: 1px;
  padding: 16px 12px 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-1171275836 {
  flex-shrink: 0;
  width: 153px;
  height: 153px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.frame-1171275755 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171275498 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.base-zi2 {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-11712755052 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1171275504 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.r-96-00 {
  color: var(--color-feedback-states-active-primary, #7b3972);
  text-align: left;
  font-family: var(
    --body-xshighlight-font-family,
    "LeagueSpartan-Medium",
    sans-serif
  );
  font-size: var(--body-xshighlight-font-size, 12px);
  line-height: var(--body-xshighlight-line-height, 130%);
  font-weight: var(--body-xshighlight-font-weight, 500);
  position: relative;
}
.button3 {
  background: var(--color-feedback-states-active-primary, #7b3972);
  border-radius: var(--border-radius-sm, 8px);
  padding: var(--spacing-nano, 8px) var(--spacing-xxxs, 16px)
    var(--spacing-nano, 8px) var(--spacing-xxxs, 16px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-quarck, 4px);
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.children3 {
  color: var(--color-neutral-100, #ffffff);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-1171275384 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 177px;
  position: relative;
}
.frame-11712758362 {
  flex-shrink: 0;
  width: 153px;
  height: 153px;
  position: relative;
  overflow: hidden;
}
.sem-t-tulo-1-14 {
  width: 81.99px;
  height: 86.02px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}
.pilar-cr-zi2 {
  color: var(--color-surfaces-titles-primary, #250a20);
  text-align: left;
  font-family: "LeagueSpartan-Regular", sans-serif;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
